body {
  background-color: #738099;
}

button {
 padding: 5px;
 font-size: x-large;
 width: 110px;
 border: none;
 cursor: pointer;
}

.btn-next{
  background-color: #6ec972;
}
.btn-next:active {
  color: #e9eefa;
  background-color: #5faa62;
}

.btn-prev {
  background-color: #eb6b5a;
}
.btn-prev:active {
  color: #e9eefa;
  background-color: #c04737;
}

.btn-random {
  background-color: #5390eb;
}
.btn-random:active {
  color: #e9eefa;
  background-color: #3972c9;
}

.btn-group {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.App {
  text-align: center;
  width: 100%;
}

.test-container {
  margin: 40vh auto;
  width: fit-content;
}

.sentence {
  font-size: xx-large;
  color: #e9eefa;
  margin: 0 auto;
}

.sentence-variable {
  color: rgb(255, 135, 79);
}


.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #276dbd;
  padding: 0 5%;
}

.header div a {
  font-size: 2rem;
  color: white !important;
  font-weight: bold;
  text-decoration: none !important;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header li {
  margin-left: 3rem;
}

.header li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #d3e6ff;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.badge {
  background-color: #2116b9;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}